@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, button {
    font-family: "Roboto", sans-serif;
}

input, button, textarea {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}